body{
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    min-width: 800px;
}
nav{
    background-color: #60d020;
    transition: 400ms;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    border-top-width: 0px;
    height: 35px;
    width: 100%;
}
nav a{
    padding: 5px 15px 5px 15px;
    margin-top: 0px;
    border-top-width: 0px;
    color: white;
    transition: 400ms;
    text-decoration: none;
    border-right: 2px solid white;
    display: inline-block;
    float: left;
}
.current{
    background-color: #40b000;
}
nav a:hover{
    background-color: #80f040;
    color: black;
    padding-right: 25px;
}
a#logo{
    object-fit: contain;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    height: 35px;
}
a#logo:hover{
    background-color: #60d020;
    color: white;
    padding-right: 15px;
}
a#logo img{
    filter: brightness(100);
    display: inline-block;
    height: 35px;
}
#user{
    filter: brightness(100);
    height: 35px;
    float: right;
    margin-right: 15px;
}

#mealPlanTable {
    max-width: 800px;
    overflow: scroll;
    margin: 20px auto;
}

.mealDay {
    background: #ededed;
    width: 167px;
    /*border: black solid 2px;*/
    max-height: 500px;
    border-radius: 4px;
    text-align: center;
    min-height: 400px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.mealDay h4 {
    margin: 10px 0;
}

.addMealBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    border-radius: 0 0 4px 4px;
    background: #5fd121;
    color: white;
    width: 100%;
    height: 30px;
    font-family: "poppins", sans-serif;
}

.addMealBtn:hover {
    background: #40b001;
    cursor: pointer;
}

.addMealBtn:focus {
    outline: none;
}

.mealImg {
    height: 125px;
    width: 167px;
}

#login{
    background-color: #60d020;
    width: 180px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 20;
}
fieldset a, .bodyLink{
  color: #209000;
  font-weight: bold;
  text-decoration: none;
  transition: 200ms;
}
fieldset a:hover, .bodyLink:hover{
  color: black;
    cursor: pointer;
}

#addMealPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.65);
    z-index: 4;
}

#searchBox {
    width: 600px;
    height: 500px;
    position: fixed;
    top: calc(45% - 250px);
    left: calc(50% - 300px);
    background: white;
    /*border: 2px black solid;*/
    border-radius: 4px;
    z-index: 5;
    text-align: center;
    padding: 20px;
}

#searchBox>input{
    float: right;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    border: black solid 2px;
    border-radius: 4px;
    padding-left: 7px;
    box-sizing: border-box;
    padding-bottom: 9px;
    font-family: "Poppins", sans-serif;
}


#mealsSearched {
    position: absolute;
    top: 0;
    left: 10px;
    width: 350px;
    height: 413px;
    margin: 20px 10px;
    border: black solid 2px;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mealThumb {
    height: 30px;
    width: 30px;
}

/*#mealsSearched:nth-child(even) {*/
    /*background: rgba(196, 196, 196, 0.46);*/
/*}*/

/*#mealsSearched:nth-child(odd) {*/
    /*background: rgba(101, 101, 101, 0.46);*/
/*}*/

#mealsSelected {
    position: absolute;
    bottom: 103px;
    right: 20px;
    width: 200px;
    border: black solid 2px;
    border-radius: 4px;
    height: 310px;
    box-sizing: border-box;
}

.closePopUp {
    position: absolute;
    top: 6px;
    right: 21px;
    color: white;
    z-index: 5;
}

.closePopUp:hover {
    cursor: pointer;
}
input#searchbar{
    display: block;
    font-size: 18px;
    min-width: 540px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 6px;
    padding-right: 60px;
    padding-left: 12px;
    border: 1.75px solid #209000;
    outline: none;
    font-family: "Poppins";
    font-weight: 500;
    color: #209000;
    border-radius: 10px;
    background-image: url("../images/square-globe-with-leaf.png");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 97.5%;
}
input#searchbar::placeholder{
    color: rgba(32,144,0,.3);
}